.cards-wrapper {
	display: grid;
	gap: 1.6rem;
}

@media (min-width: 768px) {
	.cards-wrapper {
		display: flex;
		gap: 1.6rem;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.card {
		width: 100%;
		height: auto;
	}
}

.cards-wrapper__error {
	display: flex;
	align-items: center;
	gap: 2rem;
}
